<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,133},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{111,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,62}}</string>
                <key>sourceSize</key>
                <string>{111,62}</string>
            </dict>
            <key>qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{110,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,64}</string>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,65}}</string>
                <key>sourceSize</key>
                <string>{112,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ngame.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21ea252bf3035d36bc91e714a177abf6:1/1$</string>
            <key>textureFileName</key>
            <string>ngame.png</string>
        </dict>
    </dict>
</plist>
