<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>false_12x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>false_146x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,0},{146,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,78}}</string>
                <key>sourceSize</key>
                <string>{146,78}</string>
            </dict>
            <key>false_164x146.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{164,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,146}}</string>
                <key>sourceSize</key>
                <string>{164,146}</string>
            </dict>
            <key>false_166x166.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>false_243x243.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{243,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>false_243x243_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,0},{243,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>false_277x69.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,243},{277,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,69}}</string>
                <key>sourceSize</key>
                <string>{277,69}</string>
            </dict>
            <key>false_297x151.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,243},{297,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,151}}</string>
                <key>sourceSize</key>
                <string>{297,151}</string>
            </dict>
            <key>false_30x161.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,243},{30,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,161}}</string>
                <key>sourceSize</key>
                <string>{30,161}</string>
            </dict>
            <key>false_330x202.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,243},{330,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,202}}</string>
                <key>sourceSize</key>
                <string>{330,202}</string>
            </dict>
            <key>false_337x337.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,445},{337,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,337}}</string>
                <key>sourceSize</key>
                <string>{337,337}</string>
            </dict>
            <key>false_33x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,445},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>false_35x203.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,445},{35,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,203}}</string>
                <key>sourceSize</key>
                <string>{35,203}</string>
            </dict>
            <key>false_40x184.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,445},{40,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,184}}</string>
                <key>sourceSize</key>
                <string>{40,184}</string>
            </dict>
            <key>false_67x225.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,445},{67,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,225}}</string>
                <key>sourceSize</key>
                <string>{67,225}</string>
            </dict>
            <key>false_68x132.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,445},{68,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,132}}</string>
                <key>sourceSize</key>
                <string>{68,132}</string>
            </dict>
            <key>false_68x170.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,445},{68,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,170}}</string>
                <key>sourceSize</key>
                <string>{68,170}</string>
            </dict>
            <key>false_74x353.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,445},{74,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,353}}</string>
                <key>sourceSize</key>
                <string>{74,353}</string>
            </dict>
            <key>false_76x125.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,445},{76,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,125}}</string>
                <key>sourceSize</key>
                <string>{76,125}</string>
            </dict>
            <key>false_76x342.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,445},{76,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,342}}</string>
                <key>sourceSize</key>
                <string>{76,342}</string>
            </dict>
            <key>false_972x610.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,798},{972,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{972,610}}</string>
                <key>sourceSize</key>
                <string>{972,610}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>false.png</string>
        </dict>
    </dict>
</plist>
