<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niuji_106x67.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,67}}</string>
                <key>sourceSize</key>
                <string>{106,67}</string>
            </dict>
            <key>niuji_106x67_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{106,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,67}}</string>
                <key>sourceSize</key>
                <string>{106,67}</string>
            </dict>
            <key>niuji_107x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{107,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,64}}</string>
                <key>sourceSize</key>
                <string>{107,64}</string>
            </dict>
            <key>niuji_107x64_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,0},{107,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,64}}</string>
                <key>sourceSize</key>
                <string>{107,64}</string>
            </dict>
            <key>niuji_107x64_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,67},{107,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,64}}</string>
                <key>sourceSize</key>
                <string>{107,64}</string>
            </dict>
            <key>niuji_107x64_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,67},{107,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,64}}</string>
                <key>sourceSize</key>
                <string>{107,64}</string>
            </dict>
            <key>niuji_107x67.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,67},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,67}</string>
            </dict>
            <key>niuji_107x67_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,67},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,67}</string>
            </dict>
            <key>niuji_107x68.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>niuji_107x68_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,134},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>niuji_107x68_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,134},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>niuji_107x68_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,134},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>niuji_107x68_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>niuji_107x68_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,202},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>niuji_107x68_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,202},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>niuji_107x68_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,202},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>niuji_107x68_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>niuji_107x68_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,270},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>niuji_107x68_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,270},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>niuji_107x68_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,270},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>niuji_107x69.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>niuji_108x67.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,338},{108,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,67}}</string>
                <key>sourceSize</key>
                <string>{108,67}</string>
            </dict>
            <key>niuji_108x67_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,338},{108,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,67}}</string>
                <key>sourceSize</key>
                <string>{108,67}</string>
            </dict>
            <key>niuji_10x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,338},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>niuji_12x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,338},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>niuji_14x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,338},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>niuji_14x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,338},{14,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,2}}</string>
                <key>sourceSize</key>
                <string>{14,2}</string>
            </dict>
            <key>niuji_159x73.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,407},{159,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,73}}</string>
                <key>sourceSize</key>
                <string>{159,73}</string>
            </dict>
            <key>niuji_159x73_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,407},{159,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,73}}</string>
                <key>sourceSize</key>
                <string>{159,73}</string>
            </dict>
            <key>niuji_159x73_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,407},{159,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,73}}</string>
                <key>sourceSize</key>
                <string>{159,73}</string>
            </dict>
            <key>niuji_159x73_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{159,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,73}}</string>
                <key>sourceSize</key>
                <string>{159,73}</string>
            </dict>
            <key>niuji_162x55.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,480},{162,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,55}}</string>
                <key>sourceSize</key>
                <string>{162,55}</string>
            </dict>
            <key>niuji_17x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,480},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>niuji_184x159.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,553},{184,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,159}}</string>
                <key>sourceSize</key>
                <string>{184,159}</string>
            </dict>
            <key>niuji_184x159_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,553},{184,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,159}}</string>
                <key>sourceSize</key>
                <string>{184,159}</string>
            </dict>
            <key>niuji_24x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,553},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>niuji_32x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,553},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>niuji_3x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,553},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>niuji_68x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,553},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>niuji_74x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{74,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,33}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>niuji_74x74.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,712},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>niuji_74x77.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,712},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>niuji_85x85.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,712},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>niuji.png</string>
        </dict>
    </dict>
</plist>
