<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win_1007x629.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1007,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1007,629}}</string>
                <key>sourceSize</key>
                <string>{1007,629}</string>
            </dict>
            <key>win_12x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,0},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>win_166x166.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,629},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>win_174x153.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,629},{174,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,153}}</string>
                <key>sourceSize</key>
                <string>{174,153}</string>
            </dict>
            <key>win_196x196.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,629},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>win_22x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,629},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>win_242x67.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,629},{242,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,67}}</string>
                <key>sourceSize</key>
                <string>{242,67}</string>
            </dict>
            <key>win_243x243.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,825},{243,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>win_243x243_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,825},{243,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>win_286x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,825},{286,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,142}}</string>
                <key>sourceSize</key>
                <string>{286,142}</string>
            </dict>
            <key>win_29x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,825},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>win_330x202.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1068},{330,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,202}}</string>
                <key>sourceSize</key>
                <string>{330,202}</string>
            </dict>
            <key>win_337x337.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1068},{337,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,337}}</string>
                <key>sourceSize</key>
                <string>{337,337}</string>
            </dict>
            <key>win_37x75.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1068},{37,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,75}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>win_38x67.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1068},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>win_45x47.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1068},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>win_57x55.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1068},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>win_96x94.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1068},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>win.png</string>
        </dict>
    </dict>
</plist>
